@CHARSET "UTF-8";
/** overwrite wp and parent theme things */

/** ======= */


/*@font-face {
    font-family: "Kabel";
    src: url("Kabel.woff") format("woff");
}*/

@font-face {
    font-family: 'trackregular';
    src: url('font/track-webfont.eot');
    src: url('font/track-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/track-webfont.woff') format('woff'),
         url('font/track-webfont.ttf') format('truetype'),
         url('font/track-webfont.svg#trackregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'trackitalic';
    src: url('font/track_italic-webfont.eot');
    src: url('font/track_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/track_italic-webfont.woff') format('woff'),
         url('font/track_italic-webfont.ttf') format('truetype'),
         url('font/track_italic-webfont.svg#trackitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'misoregular';
    src: url('font/miso-regular-webfont.eot');
    src: url('font/miso-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/miso-regular-webfont.woff') format('woff'),
         url('font/miso-regular-webfont.ttf') format('truetype'),
         url('font/miso-regular-webfont.svg#misoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'misolight';
    src: url('font/miso-light-webfont.eot');
    src: url('font/miso-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/miso-light-webfont.woff') format('woff'),
         url('font/miso-light-webfont.ttf') format('truetype'),
         url('font/miso-light-webfont.svg#misolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'misobold';
    src: url('font/miso-bold-webfont.eot');
    src: url('font/miso-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/miso-bold-webfont.woff') format('woff'),
         url('font/miso-bold-webfont.ttf') format('truetype'),
         url('font/miso-bold-webfont.svg#misobold') format('svg');
    font-weight: normal;
    font-style: normal;
}


.entry-content h1, .entry-content h2,
.entry-content h3, .entry-content h4,
.entry-content h5,.entry-content h6 { 
	font-family: misobold; 
}

.entry-header .entry-title {
	font-size:2rem;
}

.entry-content h2, .comment-content h2, .mu_register h2 {
	font-size:1.75rem;
}

.entry-content h3, .comment-content h3, .mu_register h3 {
	font-size:1.5rem;
}

.entry-content h4, .comment-content h4, .mu_register h4 {
	font-size:1.25rem;
}

#pagehead1 {
	background-color: #012138;
	border-top:3px solid #fea500;
    color: #FFFFFF;
    line-height:2.75em;
}

#pagehead1 * {
	text-align:right;
	color:#0198FF;
	text-decoration: none;
}

#pagehead1 ul,#pagehead1 li {
	display: inline-block;
	padding-left:2em;
}

#pagehead1 a:hover {
	text-decoration: underline;
}

#backtofablabdd {
	text-align:right;margin-bottom:
}

#backtofablabdd * {
	color:white;
}

.metanavicons {
	float:right;
	padding-left:1.5em;
}

.metanavicons a {
	padding-left:.5em;
}

#pagehead2 {
	background-color: #001523;
    color: #FFFFFF;
}

#pagehead2 h1 {
	font-family: trackregular;
	font-size: 4em;
    font-weight: normal;
    font-style: normal;
    margin:0;
    padding: .875em 0 .375em 0;
}

#pagehead2 a:link, #pagehead2 a:visited {
    text-decoration: none;
}

#pagehead2 h1 a {
	color:white;
}
#pagehead2 h1 a {
	color:white;
}

footer[role="contentinfo"] {
	border-top:.125rem solid black;
}

/* div#content .entry-content, div#content .entry-summary, div#content .mu_register,
div.fbdd-home-layout .entry-summary p,
div.fbdd-home-layout .entry-content p,
div.fbdd-home-layout .comment-content p,
div.fbdd-home-layout .mu_register p { font-size: 140%; line-height: 1.2em; }
 */
.fbdd-post-list .wp-post-image {
	width:40%;height:auto;
	float:left;
	margin:0 1em 1em 0;
}

.fbdd-post-list h1 {
	clear:none;
}

.fbdd-button {
	display:inline-block;
	border-left:.375em solid #ff7a00;
	background-color:white;
	padding:0 1em;
	margin-right:1em;
}

.fbdd-button.nodeco {
	background:none; border:none;
}


.fbdd-button a {
	text-decoration:none;
	padding-left:.375em; /* for the fa icon */
}

.fbdd-button a:hover {
	text-decoration:underline;
}

/** makes the homepage text left brodered */
.template-front-page .site-content article {
	border-left:.375em solid #ff7a01;
}
.template-front-page .site-content .fbdd-home-teaser article {
	border-left-color:transparent;
}

.template-front-page .site-content .fbdd-home-events article {
	border-left-color:#0080d7;
}

.template-front-page .site-content .fbdd-home-image article {
	border-left-color:#00d070;
	margin:0;
}

.fbdd-home-image {
	display:table-cell;
	width:400px;
	
	vertical-align:top;
	
}

.fbdd-home-teaser {
	display:table-cell;
	padding-left:.375rem;
	vertical-align:top;
	
}



.fbdd-home-events {
	
	display:table-cell;
	width:400px;
	vertical-align:top;
}

.fbdd-home-upcoming {
	display:table-cell;
	padding-left:.375rem;
	vertical-align:top;
}

.fbdd-home-layout-row {
	clear:both;
	padding-bottom:2rem;
	
}
.fbdd-home-image article {
	height:300px;overflow:hidden;
	width:300px;overflow:hidden;
	display:block;
	background-repeat:no-repeat;
	background-position: 50% 50%;
	background-size:100% auto;
}


.template-front-page .site-content article {
	margin-bottom:1rem;
}

.template-front-page .site-content .fbdd-home-teaser article {
	height:300px;overflow:hidden;
	margin:0;
}

.fbdd-home-teaser p {
	font-weight:900;
	font-size:1.75rem;
	margin-bottom:.25rem;
	
	-moz-hyphens: none;
   -o-hyphens: none;
   -webkit-hyphens: none;
   -ms-hyphens: none;
   -hyphens: none;
   hyphens: none;
	
}
.fbdd-home-teaser a {
	color:#0198FF;
	text-decoration: none;
}

.fbdd-home-teaser a:visited {
	color:#0198FF;
}

.fbdd-home-teaser a:hover {
	text-decoration: underline;
}


.template-front-page.has-post-thumbnail article {
    float: none;
    width: auto;
}


.fbdd-home-events .tagcloud a {
	text-decoration:none;
}

nav.main-navigation {
	font-family:misoregular;
}

nav.main-navigation .sub-menu li { width: 100%; }
nav.main-navigation .sub-menu li:hover { background-color: #FF8601; }

nav.main-navigation li.menu-item a{ 
	font-size: 160%;
	line-height: 2.5;
}

nav.main-navigation ul.sub-menu a {
	font-size: 140%;
	line-height: 1.8;
}
